@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;700&display=swap');

.container{
  position:relative;
  width:100%;
  height:auto;
  background-color:black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px 5px 10px 5px;
  user-select: none;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.loaderContainer{
  color:white;
}
