

$inputFieldColor: #000;
$fieldBorder: rgb(175, 175, 175);

.menu{
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom: -102px;
    margin-left: -1.5px;
    width:calc(100% + 3.0px);
    height:auto;
    border: 1.5px solid $fieldBorder;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: $inputFieldColor;
    max-height: 100px;
    overflow-y: auto;
    z-index: 2;
  }
  
  .item{
    width:100%;
    height:auto;
    padding: 7px;
    cursor: pointer;
  }
  
  .item:hover{
    background-color: rgb(71, 71, 71);
  }
  
  .downLogo{
    position:absolute;
    right: 0;
    top:0;
    height: 100%;
    width:25px;
    background-color: rgba(0,0,0,0.9);
    border-left:1.5px solid $fieldBorder;
    display:flex;
    justify-content: center;
    align-items: center;
    color: $fieldBorder
  }