.container{
  height:70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid white;
}

.audioButton{
  width: 70px;
  height: 40px;
  color:darkcyan;
  margin: 5px;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding:20px;
  border-radius: 10%;
  border:2px solid darkcyan;
}