.container{
  position: absolute;
  background-color:black;
  bottom:0;
  left:0;
  height:30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid white;
}