.container{
  position:absolute;
  top:0;
  width:100%;
  height:auto;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,1);
  user-select: none;
  flex-direction: column;
  z-index: 2;
}


