.invisible{
  position:relative;
  height: 0px;
  flex-basis: 300px;
  flex-grow: 1;
}

.container{
  position:relative;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #434D51;
  color:#fff;
  overflow :auto;
  cursor: pointer;
  border-radius: 5px;
  flex-basis: 300px;
  flex-grow: 1;

  &:hover{
    background-color: rgb(221, 211, 210);
  }
}

.details{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: auto;
  padding: 10px;
}

.text{
  position: relative;
  width: auto;
  height:100%;
  display:flex;
  align-items: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 250;

  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

