
.wrapper{
  overflow: hidden;
  padding:0;
  border:0;
}

.verticalScrollWrapper{
  position: absolute;
  top:0;
  right: 0;
  height:100%;
}

.verticalScrollTrack{
  position: relative;
  height:100%;
  width:100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.verticalScrollThumb{
  position: absolute;
  width:100%;
  background-color: rgba($color: rgb(172, 172, 172), $alpha: 0.8);
  border-radius: 5px;
  z-index: 1;
}

.verticalScrollGlassCover{
  position: absolute;
  top:0;
  right: 0;
  height:100%;
  width:100%;
  z-index: 3;
}

.horizontalScrollWrapper{
  position: absolute;
  bottom:0;
  left: 0;
  width:100%;
  height:10px;
}

.horizontalScrollTrack{
  position: relative;
  height:100%;
  width:100%;
  z-index: 2;
  display: flex;
  align-items: center;
}

.horizontalScrollThumb{
  position: relative;
  height:100%;
  z-index: 1;
}

.horizontalScrollGlassCover{
  position: absolute;
  right: 0;
  bottom: 0;
  height:100%;
  width:100%;
  z-index: 2;
}