.container{
  height: 60px;
  width: 100%;
  background-color: black;
  position:relative;
  display: flex;
  align-items: center;
  color:white;
  flex-basis:300px;
  flex-grow: 1;
}

.container:hover{
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}

.imageContainer{
  position: relative;
  height:100%;
}

.details{
  position:relative;
  padding:0px 10px 0px 5px;
  width:auto;
  overflow: auto;
  white-space: nowrap;
  text-overflow: '';
}

