.container{
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.hidden{
    position: absolute;
    opacity: 0;
}