$thumbColor: darkcyan;
$trackColor: rgb(0, 82, 82);

$thumbColorOnHover: rgb(0, 175, 175);

.audioTrackContainer{
  position: relative;
  width:80%;
  height:auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  gap:15px;
}

.audioTrackSliderContainer{

  width: 100%;
  height: 5px;
  background: $trackColor;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  .audioTrackProgress{

    position: relative;
    width: 0%;
    height:100%;
    background-color: $thumbColor;
    -webkit-tap-highlight-color: transparent;

    .audioTrackSliderCircleContainer{

      position: absolute;
      right:0;
      top:0;
      width: 20px;
      height: 20px;
      -webkit-tap-highlight-color: transparent;

      .audioTrackSliderCircle{
        width:100%;
        height:100%;
        cursor: pointer;
        margin-top: -40%;
        margin-left: 50%;
        border-radius: 50%;
        -webkit-tap-highlight-color: transparent;
        background-color: $thumbColor;

        &:hover{
          background-color: $thumbColorOnHover;
        }
      
      }

    }

  }
}

.audioTimeTracker{
  position: relative;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $thumbColor
}

.audioTime::before{
  content: attr(data-timevalue);
}
