.container{
  max-width:500px;
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  padding:20px;
  user-select: none;
  border:1.5px solid gray;
  background-color: black;
  border-radius: 10px;
}