.container {
  position: relative;
  height:100%;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* ----------------------- canvas --------------------------- */
.canvasContainer{
  position: absolute;
  top:0;
  left:0;
  height:70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas{
  background-color:black;
}




/* ----------------------- file input --------------------------- */

.controlContainer{
  position: absolute;
  background-color:black;
  bottom:0;
  left:0;
  height:30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputLabel{
  background-color: darkcyan;
  position:absolute;
  top:0;
  right:0;
  width: auto;
  height:auto;
  margin: auto;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px 20px 10px 20px;
  cursor: pointer;
}


/* ----------------------- navigation --------------------------- */

.navigation{
  height:70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.audioButton{
  width: 70px;
  height: 40px;
  opacity: 0.7;
  color:rgb(20, 218, 218);
  margin: 5px;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding:20px;
  border-radius: 10%;
  border:2px solid rgb(20, 218, 218);
}


/* ----------------------- progress bar --------------------------- */

.progressBar{
  width:80%;
  max-width: 420px;
  height:15px;
  padding:4px;
  border:2px solid darkcyan;
  border-radius: 3px;
}

.progressLine{
  background-color: darkcyan;
  width: 0%;
  height:100%;
}


/* ----------------------- audio title --------------------------- */

.audioTitleBar{
  width:80%;
  max-width: 420px;
  height:40px;
  padding:5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioTitle{
  color:rgb(0, 167, 167);
}


