.container{
  max-width:700px;
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  padding:20px;
  user-select: none;
  background: black;
  border:0.2px solid gray;
}
