.container{
  width:100%;
  display: flex;
  flex-direction: row;
  margin-top:4px;
  margin-bottom:4px;
  height:30px;
  position:relative;
}

.cover{
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

.label{
  width:80px;
  height:100%;
  color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.wrapper{
  flex:6;
  height:100%;
  color:white;
  display: flex;
  align-items: center;
  position: relative;
}


.input{
  width:100%;
  height:100%;
  background-color: black;
  font-size: 1rem;
  color:rgb(255, 255, 255);
  border: 1.5px solid rgb(112, 112, 112);
  padding-left: 10px;
  outline: none;
}

.button{
  user-select: none;
  width:100%;
  height:100%;
  background-color: black;
  color:white;
  border: 1.5px solid gray;
  display: flex;
  align-items: center;
  padding-left: 5px;
  position: relative;
}

.advancedButton{
  user-select: none;
  width:100%;
  height:40px;
  background-color: black;
  color:white;
  border: 1.5px solid gray;
  display: flex;
  align-items: center;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

.menu{
  position: absolute;
  bottom:0;
  left:0;
  margin-bottom: -102px;
  margin-left: -2px;
  width:calc(100% + 3.5px);
  height:auto;
  border: 1.5px solid gray;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  background-color: black;
  max-height: 100px;
  overflow-y: auto;
  z-index: 2;
}

.item{
  width:100%;
  height:auto;
  padding: 7px;
  cursor: pointer;
}

.item:hover{
  background-color: rgb(71, 71, 71);
}

.downLogo{
  position:absolute;
  right: 0;
  top:0;
  height: 100%;
  width:25px;
  background-color: rgba(0,0,0,0.9);
  border-left:1.5px solid gray;
  display:flex;
  justify-content: center;
  align-items: center;
}

.separator{
  padding:5px;
}