.container{
  width: auto;
  padding-left: 7px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  height:100%;
  background-color: rgb(29, 29, 29);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(228, 228, 228);
  border: none;
  cursor: pointer;
  border-left: none;
  outline: 1px solid gray;
  font-size: 14px;

  &:hover{
    background-color: rgb(41, 41, 41);
  }
}

.wrapper{
  flex:6;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
}
