.container{
  width:100%;
  display: flex;
  flex-direction: row;
  height:40px;
}

.wrapper{
  flex:6;
  height:100%;
  background-color: black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top:0px;
  outline:1.5px solid gray ;

  &:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
  }
}
