.container{
  position: absolute;
  bottom:-30px;
  height:30px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

  .button{
    height:100%;
    width:70px;
    color: rgb(219, 218, 218);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 0 7px 7px;
    background-color: black;

    &:hover{
      background-color: rgb(27, 27, 27);
    }

  }
}