.container{
    position: relative;
    height: auto;
    max-height: 428px;
    flex-basis: 300px;
    width: auto;
    display: flex;
    padding: 0px 20px 20px 20px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Yu Gothic UI';
    letter-spacing: 1px;
    gap: 5px;
    overflow-y: auto;
    user-select: text;
}