.container{
  width: 100%;
  height:auto;
  padding:0px 25px 25px 25px;
  user-select: text;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 16px;
  color: gold
}

.author{
  margin-top: 2px;
  font-size: 12px;
  color: gold;
}

.page{
  margin-top: 15px;
  font-size: 14px;
}