.container {
  position:relative;
  top:0;
  height:50px;
  width:100%;
  background: rgb(8, 8, 8);
}

.fixed {
  position:fixed;
  height:50px;
  width:100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid rgb(32, 32, 32);
  background: rgba(8, 8, 8, 1);
  z-index: 2;
}