.container{
  position: absolute;
  top: 0;
  right:0;
  width: 25px;
  height: 100%;
  color: rgb(189, 189, 189);
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}