.container{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: row;
  position: relative;
  outline:1px solid gray;
  overflow: hidden;
  overflow-x: auto;
}

.scrollhost {
  scrollbar-width: none;
 -ms-overflow-style: none;
}

.scrollhost::-webkit-scrollbar {
 display: none;
}