.container{
  background-color: black;
  width: 100%;
  flex-grow: 1;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top:0px;
  border-bottom:1.5px solid gray ;
  border-left: 1.5px solid gray ;
  border-right: 1.5px solid gray ;

  &:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
  }
  
}