.container{
  position: absolute;
  top:0;
  left:0;
  height:70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas{
  background-color:black;
}