.container{
  position:absolute;
  left:0;
  height: 50px;
  width:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 0px;
  font-size: 14px;
  z-index:2; 

  .homeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    height: 100%;
    aspect-ratio: 1/1;
    opacity: 90%;
    user-select: none;

    &:hover{
      opacity: 100%;
    }
  }

}