.container{
    position: relative;
    height: auto;
    flex-basis: 300px;
    flex-grow: 1;
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}