.leftButton{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 50px;
  z-index: 1;
}

.rightButton{
  position:absolute;
  top:0;
  right:0;
  height: 100%;
  width: 50px;
  z-index: 1;
}